.fadeRight,
.fadeLeft,
.fadeIn,
.fadeDown,
.fadeUp{
	-webkit-transition: transform 800ms cubic-bezier(.17,.67,.43,1), opacity 800ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms cubic-bezier(.17,.67,.43,1), opacity 800ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms cubic-bezier(.17,.67,.43,1), opacity 800ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms cubic-bezier(.17,.67,.43,1), opacity 800ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms cubic-bezier(.17,.67,.43,1), opacity 800ms cubic-bezier(.17,.67,.43,1);
}
.duration300{
	-webkit-transition-duration: 300ms;
	   -moz-transition-duration: 300ms;
	    -ms-transition-duration: 300ms;
	   	 -o-transition-duration: 300ms;
			transition-duration: 300ms;
}
.duration500{
	-webkit-transition-duration: 500ms;
	   -moz-transition-duration: 500ms;
	    -ms-transition-duration: 500ms;
	   	 -o-transition-duration: 500ms;
			transition-duration: 500ms;
}
.duration800{
	-webkit-transition-duration: 500ms;
	   -moz-transition-duration: 500ms;
	    -ms-transition-duration: 500ms;
	   	 -o-transition-duration: 500ms;
			transition-duration: 500ms;
}
.delay100,
.slider-anim.show.delay100{
	-webkit-transition-delay: 100ms;
	   -moz-transition-delay: 100ms;
	    -ms-transition-delay: 100ms;
	   	 -o-transition-delay: 100ms;
			transition-delay: 100ms;
}
.delay200,
.slider-anim.show.delay200{
	-webkit-transition-delay: 200ms;
	   -moz-transition-delay: 200ms;
	    -ms-transition-delay: 200ms;
	   	 -o-transition-delay: 200ms;
			transition-delay: 200ms;
}
.delay300,
.slider-anim.show.delay300{
	-webkit-transition-delay: 300ms;
	   -moz-transition-delay: 300ms;
	    -ms-transition-delay: 300ms;
	   	 -o-transition-delay: 300ms;
			transition-delay: 300ms;
}
.delay400,
.slider-anim.show.delay400{
	-webkit-transition-delay: 400ms;
	   -moz-transition-delay: 400ms;
	    -ms-transition-delay: 400ms;
	   	 -o-transition-delay: 400ms;
			transition-delay: 400ms;
}
.delay500,
.slider-anim.show.delay500{
	-webkit-transition-delay: 500ms;
	   -moz-transition-delay: 500ms;
	    -ms-transition-delay: 500ms;
	   	 -o-transition-delay: 500ms;
			transition-delay: 500ms;
}
.delay600,
.slider-anim.show.delay600{
	-webkit-transition-delay: 600ms;
	   -moz-transition-delay: 600ms;
	    -ms-transition-delay: 600ms;
	   	 -o-transition-delay: 600ms;
			transition-delay: 600ms;
}
.delay700,
.slider-anim.show.delay700{
	-webkit-transition-delay: 700ms;
	   -moz-transition-delay: 700ms;
	    -ms-transition-delay: 700ms;
	   	 -o-transition-delay: 700ms;
			transition-delay: 700ms;
}
.delay800,
.slider-anim.show.delay800{
	-webkit-transition-delay: 800ms;
	   -moz-transition-delay: 800ms;
	    -ms-transition-delay: 800ms;
	   	 -o-transition-delay: 800ms;
			transition-delay: 800ms;
}
.delay900,
.slider-anim.show.delay900{
	-webkit-transition-delay: 900ms;
	   -moz-transition-delay: 900ms;
	    -ms-transition-delay: 900ms;
	   	 -o-transition-delay: 900ms;
			transition-delay: 900ms;
}
.delay1000,
.slider-anim.show.delay1000{
	-webkit-transition-delay: 1000ms;
	   -moz-transition-delay: 1000ms;
	    -ms-transition-delay: 1000ms;
	   	 -o-transition-delay: 1000ms;
			transition-delay: 1000ms;
}
.delay1200,
.fadeWidth.delay1200,
.fadeHeight.delay1200,
.slider-anim.show.delay1200{
	-webkit-transition-delay: 1200ms;
	   -moz-transition-delay: 1200ms;
	    -ms-transition-delay: 1200ms;
	   	 -o-transition-delay: 1200ms;
			transition-delay: 1200ms;
}
.delay2000,
.fadeWidth.delay2000,
.fadeHeight.delay2000,
.slider-anim.show.delay2000{
	-webkit-transition-delay: 2000ms;
	   -moz-transition-delay: 2000ms;
	    -ms-transition-delay: 2000ms;
	   	 -o-transition-delay: 2000ms;
			transition-delay: 2000ms;
}
.delay3000,
.fadeWidth.delay3000,
.fadeHeight.delay3000,
.slider-anim.show.delay3000{
	-webkit-transition-delay: 3000ms;
	   -moz-transition-delay: 3000ms;
	    -ms-transition-delay: 3000ms;
	   	 -o-transition-delay: 3000ms;
			transition-delay: 3000ms;
}
.fadeRight{
	-webkit-transform: translateX(100px);
	   -moz-transform: translateX(100px);
    	-ms-transform: translateX(100px);
    	 -o-transform: translateX(100px); 
    		transform: translateX(100px);
   	opacity: 0;
}
	.fadeRight.show{
		-webkit-transform: translateX(0px);
		   -moz-transform: translateX(0px);
	    	-ms-transform: translateX(0px);
	    	 -o-transform: translateX(0px); 
	    		transform: translateX(0px);
	    opacity: 1;
	}
.fadeLeft{
	-webkit-transform: translateX(-100px);
	   -moz-transform: translateX(-100px);
    	-ms-transform: translateX(-100px);
    	 -o-transform: translateX(-100px); 
    		transform: translateX(-100px);
   	opacity: 0;
}
	.fadeLeft.show{
		-webkit-transform: translateX(0px);
		   -moz-transform: translateX(0px);
	    	-ms-transform: translateX(0px);
	    	 -o-transform: translateX(0px); 
	    		transform: translateX(0px);
	    opacity: 1;
	}
.fadeDown{
	-webkit-transform: translateY(10px);
	   -moz-transform: translateY(10px);
    	-ms-transform: translateY(10px);
    	 -o-transform: translateY(10px); 
    		transform: translateY(10px);
   	opacity: 0;
}
	.fadeDown.show{
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
	    	-ms-transform: translateY(0px);
	    	 -o-transform: translateY(0px); 
	    		transform: translateY(0px);
	    opacity: 1;
	}
.fadeUp{
	-webkit-transform: translateY(-10px);
	   -moz-transform: translateY(-10px);
    	-ms-transform: translateY(-10px);
    	 -o-transform: translateY(-10px); 
    		transform: translateY(-10px);
   	opacity: 0;
}
	.fadeUp.show{
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
	    	-ms-transform: translateY(0px);
	    	 -o-transform: translateY(0px); 
	    		transform: translateY(0px);
	    opacity: 1;
	}	
.fadeIn{
   	opacity: 0;
}
	.fadeIn.show{
	    opacity: 1;
	}
.scale{
	-webkit-transition: all 1800ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: all 1800ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: all 1800ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: all 1800ms cubic-bezier(.17,.67,.43,1);
			transition: all 1800ms cubic-bezier(.17,.67,.43,1);
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
    	-ms-transform: scale(0);
    	 -o-transform: scale(0); 
    		transform: scale(0);
    opacity: 0;
}
	.scale.show{
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
	    	-ms-transform: scale(1);
	    	 -o-transform: scale(1); 
	    		transform: scale(1);
	    opacity: 1;
	}

.fadeWidth{
	width: 0;
	-webkit-transition: width 2000ms linear;
	   -moz-transition: width 2000ms linear;
	    -ms-transition: width 2000ms linear;
	   	 -o-transition: width 2000ms linear;
			transition: width 2000ms linear;
}
	.fadeWidth.show{
		width: 100%;
	}
.fadeHeight{
	height: 0;
	-webkit-transition: height 800ms linear;
	   -moz-transition: height 800ms linear;
	    -ms-transition: height 800ms linear;
	   	 -o-transition: height 800ms linear;
			transition: height 800ms linear;
}
	.fadeHeight.show{
		height: 100%;
	}	
